*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Monserrat, sans-serif;
}

body {
  background-color:rgb(205, 185, 167);
}

header {
    /* background-color:rgb(97, 93, 85); */
    background-color:black;
}

h2, h3, h4 {
  padding: 10px;
}

h2, h4, li {
  text-shadow: 1px 1px white;
}

h2:hover {
  color: #fff;
  text-shadow:
      0 0 5px #fff,
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 5px hsl(0 100 50),
      0 0 5px hsl(0 100 50),
      0 0 10px hsl(0 100 50),
      0 0 20px hsl(0 100 50),
      0 0 20px hsl(0 100 50);
  transition: 0.2s;
}

h3:hover {
  color: hsl(0 0 100 / 1);
  text-shadow: 
      /* 0 0 5px #fff, */
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 5px hsl(240 100 50),
      0 0 12px hsl(240 100 50),
      0 0 14px hsl(240 100 50),
      0 0 20px hsl(240 100 50),
      0 0 20px hsl(240 100 50);
  transition: 0.2s;
}

h4:hover {
  color: #fff;
  text-shadow: 
      0 0 5px #fff,
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 1em #800080,
      0 0 2em #800080,
      0 0 3em #800080,
      0 0 5em #800080,
      0 0 10em #800080;
  transition: 0.2s;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 10%;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bolder;
}

nav ul li a:hover {
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 5px hsl(120 100 50),
      0 0 12px hsl(120 100 50),
      0 0 14px hsl(120 100 50),
      0 0 20px hsl(120 100 50),
      0 0 20px hsl(120 100 50);
  transition: 0.2s;
}

button {
  border: solid;
  background: #39FF14;
  padding: 12px 30px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 15px;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

body:where(:not(:header)) {
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.article-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-areas: 
    'one'
    'two'
    'three'
    'four'
    'five';
  padding-block: 2rem;
  width: min(95%, 70rem);
  margin-inline: auto;
}

article {
  display: grid;
  background-color:rgb(161, 145, 132);
  border: 2px solid black;
  padding: 2rem;
  margin: 0.5rem;
  border-radius: 1rem;
  box-shadow: 10px 14px 10px 5px rgba(0, 0, 0, 0.3);
}

.article-content:nth-child(1) {
  grid-area: one;
}

.article-content:nth-child(2) {
  grid-area: two;
}

.article-content:nth-child(3) {
  grid-area: three;
}

.article-content:nth-child(4) {
  grid-area: four;
}

.article-content:nth-child(5) {
  grid-area: five;
}

figure {
  display: grid;
  grid-auto-flow: column;
}

section > h3 {
  text-align: center;
  padding-bottom: 0.3rem;
}

video {
  background-color: black;
  margin: 10px 15px 10px 15px;
  border-radius: 2rem;
  border: none;
  box-shadow: 10px 14px 10px 5px rgba(0, 0, 0, 0.3);
}

p {
  display: grid;
  background-color:rgb(117, 111, 101);
  padding: 5px;
  border: 2px solid black;
  border-radius: 0.5rem;
  box-shadow: 10px 14px 10px 4px rgba(0, 0, 0, 0.3);
}
