*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Monserrat, sans-serif;
}

body {
  background-color:rgb(205, 185, 167);
}

header {
    background-color:rgb(97, 93, 85);
}

h2:hover {
  color: red;
  text-shadow: 1px 1px 2px black;
  transition: 0.2s;
}

h3:hover {
  color: #87CEEB;
  text-shadow: 1px 1px 2px black;
  transition: 0.2s;
}

h4:hover {
  color: #BF40BF;
  text-shadow: 1px 1px 2px black;
  transition: 0.2s;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bolder;
}

nav ul li a:hover {
  color: #39FF14;
  text-shadow: 1px 1px 2px black;
  transition: 0.2s;
}

button {
  border: solid;
  background: #39FF14;
  padding: 12px 30px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 15px;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

body:where(:not(:header)) {
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.article-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-areas: 
    'one'
    'two'
    'three'
    'four'
    'five';
  padding-block: 2rem;
  width: min(95%, 70rem);
  margin-inline: auto;
}

article {
  display: grid;
  background-color:rgb(161, 145, 132);
  border: 2px solid black;
  padding: 2rem;
  border-radius: 1rem;
}

.article-content:nth-child(1) {
  grid-area: one;
}

.article-content:nth-child(2) {
  grid-area: two;
}

.article-content:nth-child(3) {
  grid-area: three;
}

.article-content:nth-child(4) {
  grid-area: four;
}

.article-content:nth-child(5) {
  grid-area: five;
}

section {
  border: 2px solid black; 
}

video {
  background-color: black;
  margin: 10px 15px 10px 15px;
  float: right;
  border-radius: 2rem;
  border: none;
  box-shadow: 0 14px 10px 5px rgba(0, 0, 0, 0.3);
}
